.loginContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(79, 76, 76);
}


.loginDiv {
  background-color: black;
  /* padding: 20px; */
  display: flex;
  /*justify-content: center;
    align-items: center; */
  width: 60%;
  height: auto;
  min-height: 70%;
  gap: 10px;
  border-radius: 10px;
}

.loginDiv > * {
  width: 50%;
}

.registerIntro {
  display: flex;
  flex-direction: column;
  background-color: rgb(102, 100, 100);
  margin: 10px;
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
}

.introTitle {
  padding: 25px 0 50px 0;
  font-size: 15px;
}

.introSlogan {
    font-size: 40px;
}

.formDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  /* padding: 50px 50px; */
}

.formDiv > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 10px; */
  padding: 10px 0;
  margin: 0;
}

.form > p {
  margin: 0;
  font-size: 10px;
}

.formDiv > h2 {
  text-align: center;
  padding-bottom: 10px;
}

.form {
  padding: 5px 80px 10px 80px;
}

.form > label {
  padding-top: 10px;
}

.form > input {
  height: 1.5rem;
}

.form > button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.form > button:hover {
  cursor: pointer;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.pwdNoMath {
  padding: 10px 0;
}

.offScreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.loginPageLinkDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  font-size: 14px;
  gap: 4px;
}

.loginPageLinkDiv > a {
  text-decoration: underline;
}

.subBtn {
  margin-top: 10px;
}

@media screen and (max-width: 1500px) {
  .loginDiv {
      width: 70vw;
      min-width: 350px;
      max-width: 600px;
  }
  .registerIntro {
      display: none;
      width: 0;
  }
  .formDiv {
      width: 100%;
  }
  .form {
      padding: 20px;
  }
}