.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 60px;
    border-bottom: 2px solid white;
}

.headerName {
    width: 50%;
}

.cName {
    margin: 0;
    padding: 10px 20px;
}

.linksDiv {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 25px;
}
.linksDiv > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginText {
    margin: 0;
    padding: 0 15px;
    text-align: center;
}

.headerLinks > .loginBtn {
    font-size: 2rem;
    padding: 5px 25px 5px 25px;
    background-color: rgb(101, 98, 98);
    border-radius: 5px;
}

.headerLinks > .loginBtn:hover {
    cursor: pointer;
    background-color:  rgb(116, 109, 109);
}