.loginContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(79, 76, 76);
}
.loginDiv {
  background-color: black;
  /* padding: 20px; */
   display: flex;
  /*justify-content: center;
  align-items: center; */
  width: 60%;
  height: 70%;
  gap: 10px;
  border-radius: 10px;

}

.loginDiv > * {
    width: 50%;
}

.imageDiv {
    display: flex;
    justify-content: center;
    /*height: 50%; */
}

.loginImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.formDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 50px 50px; */
}

.formDiv > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 0;

}

.formDiv > h2 {
    text-align: center;
    padding-bottom: 10px;
}

.form {
    padding: 30px 80px 50px 80px;
}

.form > input {
    height: 25px;
} 

.form > button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.form > button:hover {
    cursor: pointer;
}

.loginPageLinkDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-size: 14px;
    gap: 4px;
  }
  
  .loginPageLinkDiv > a {
    text-decoration: underline;
  }

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
