.tableContainer {
  /* display: contents; */
  background-color: rgb(43, 42, 42);
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 100%;
  /* width: 70%; */
}

.table {
  border-collapse: collapse;
  border: 1px solid rgb(52, 52, 52);
}

.headerRow > th {
  background-color: rgb(97, 94, 94);
  padding: 5px;
  position: sticky;
  top: 0;
}

.headerCol, .tableRow > td {
  border: 1px solid rgb(61, 60, 60);
  padding: 8px;
  text-align: left;
}

.susImage {
  width: 60px;
  height: 50px;
  padding: 5px;
}